@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.mobile-nav {
  @apply flex flex-col fixed w-screen h-full bg-black/80 top-0 bottom-0 left-0 right-0 items-center justify-center gap-5 backdrop-blur-lg text-2xl text-gray-300 z-10;
}

@media only screen and (min-width: 650px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 88%;
  }
}

@media only screen and (min-width: 650px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 84%;
  }
}

@media only screen and (min-width: 700px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 80%;
  }
}
@media only screen and (min-width: 750px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 79%;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 95%;
  }
}

@media only screen and (min-width: 769px) {
  .testimonial-wrapper {
    height: auto;
  }

  .slider-right {
    height: auto;
  }

  .slider-wrapper {
    height: auto;
  }

  .mobile-slide .mobile-slider-wrapper {
    width: 95%;
  }

  .slider-image {
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 800px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 830px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 85%;
  }
}

@media only screen and (min-width: 880px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 930px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 75%;
  }
}

@media only screen and (min-width: 930px) {
  .mobile-slide .mobile-slider-wrapper {
    width: 70%;
  }
}
